.gradient {
  &.violet-blue {
    background: #cb60b3; /* Old browsers */
    background: linear-gradient(135deg, #cb60b3 0%,#ad1283 50%,#72d8d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#72d8d5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

.home-container {
  padding: 0 6px;
}

#HomeTileList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33vh;
}

.tile-wrapper {
  width: 46%;
  height: auto;
  padding: 9px 0;
  max-width: 320px;
}
