<div class="home-container" style="text-align:center">
  <div id="HomeTileList">
      <div class="tile-wrapper" *ngFor="let tile of tiles">
          <a2j-tile-component class="tile" tileClass="{{ tile.style }}" tileLabel="{{ tile.tileLabel }}" icon="{{ tile.icon }}" routeLink="{{ tile.route }}"></a2j-tile-component>
      </div>
  </div>
</div>
