<form [formGroup]="RegistrationForm" (ngSubmit)="submitRegistration()" class="registration-form">
  <label class="registration-title">Registration</label>
  <mat-form-field>
    <input class="registration-input" autocomplete="username" matInput placeholder="Username" [formControl]="RegistrationForm.controls.usernameFormControl" (error)="testError($event)">
  </mat-form-field>
  <mat-form-field class="Email">
    <input class="registration-input" autocomplete="email" matInput placeholder="Email" formControlName="emailFormControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="RegistrationForm.controls.emailFormControl.hasError('pattern') && !RegistrationForm.controls.emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="RegistrationForm.controls.emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input class="registration-input" autocomplete="new-password" matInput type="password" placeholder="Password" formControlName="passwordFormControl" >
    <mat-error *ngIf="(RegistrationForm.controls.passwordFormControl.hasError('minlength') && !RegistrationForm.controls.passwordFormControl.hasError('required'))  || (RegistrationForm.controls.passwordFormControl.hasError('pattern') && !RegistrationForm.controls.passwordFormControl.hasError('required'))">
      Must have at least 9 characters and a special character (!, @, $,...)
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input class="registration-input" autocomplete="new-password" matInput type="password" placeholder="Again" (input)="validateSamePW($event)" formControlName="testPasswordFormControl" >
    <mat-error *ngIf="RegistrationForm.controls.testPasswordFormControl.hasError('notMatching')">
      Must match password
    </mat-error>
  </mat-form-field>
  <div class="registration-controls">
    <button mat-flat-button color="primary" type="submit">Register</button>
    <button mat-flat-button color="accent" type="reset">Reset</button>
  </div>
</form>
