
$font-family-header: 'Cinzel', serif;
$font-family-text: 'Montserrat', sans-serif;

.registration-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;

  label.registration-title {
    font-family: $font-family-header;
    font-size: 1.5em;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 8px;
  }
  mat-form-field {
    width: 100%;
  }
}

.registration-controls {
  padding-top: 10px;
  display: flex;
  width: 100%;
  justify-content: flex-start;

  button {
    margin-left: 12px;
  }
}
