<div id="TopMenu">
  <h1 class="top-title" routerLink="/">
    {{ (state$ | async)[componentStoreKey].viewTitle }}
  </h1>
  <mat-menu #appMenu="matMenu" yPosition="above">
    <button mat-menu-item>Account</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>
</div>
