$font-family-header: 'Cinzel', serif;

#TopMenu {
  font-family: $font-family-header;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top-title {
  cursor: pointer;
  outline: none;
}
