$font-family-text: 'Montserrat', sans-serif;

.gradient {
  &.violet {
    background: #f0afff;
    background: linear-gradient(to bottom, #f0afff 0%,#e679ff 17%,#dd43ff 33%,#bd00e8 67%,#9e00c2 83%,#7e009a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0afff', endColorstr='#7e009a',GradientType=0 );}
  &.gold {
    background: #ffe29f;
    background: linear-gradient(to bottom, #ffe29f 0%,#ffcf5f 17%,#ffbc21 33%,#b27d00 67%,#865e00 83%,#583e00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe29f', endColorstr='#583e00',GradientType=0 );
  }
  &.green {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c4fa98+0,9df654+17,77f311+33,3e8a00+67,285800+83,102400+100 */
    background: #c4fa98; /* Old browsers */
    background: linear-gradient(135deg, #c4fa98 0%,#9df654 17%,#77f311 33%,#3e8a00 67%,#285800 83%,#102400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4fa98', endColorstr='#102400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  &.blue {
    background: #aff0ff;
    background: linear-gradient(to bottom, #aff0ff 0%,#79e6ff 17%,#43ddff 33%,#00bde8 67%,#009ec2 83%,#007e9a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aff0ff', endColorstr='#007e9a',GradientType=0 );
  }
}


.tile-content {
  font-size: 1.1em;
  font-family: $font-family-text;
  text-rendering: optimizeLegibility;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: .5em;
  cursor: pointer;

  .material-icons {
    font-size: 2em;
    line-height: 1;
    width: 2em;
    height: 1em;
  }
}
