<form id="LoginForm">
  <label class="login-title">
    Login
  </label>
  <mat-form-field
    [hideRequiredMarker]="options.value.hideRequired"
    [floatLabel]="options.value.floatLabel">
    <input aria-label="username input" name="username" matInput required [(ngModel)]="formValues.username">
    <mat-label><mat-icon>face</mat-icon> <b> Username</b></mat-label>
  </mat-form-field>
  <mat-form-field
    [hideRequiredMarker]="options.value.hideRequired"
    [floatLabel]="options.value.floatLabel">
    <input aria-label="password input" name="password" matInput required type="password" autocomplete="off" [(ngModel)]="formValues.password">
    <mat-label><mat-icon>lock</mat-icon> <b> Password</b></mat-label>
  </mat-form-field>
  <div class="mat-form-field-flex">
    <button (click)="onLogin()" mat-flat-button color="primary">Submit</button>
    <button type="reset" mat-flat-button color="accent">Cancel</button>
  </div>
  <div class="registration-button-wrapper">
    Need An Account? <button class="registration-link" mat-flat-button routerLink="/login/registration">Yes</button>
  </div>
</form>
