$font-family-header: 'Cinzel', serif;
$font-family-text: 'Montserrat', sans-serif;

#LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  font-size: 1.3em;

  input {
    color: whitesmoke;
  }
  button {
    width: 40%;

    margin-right: 8px;
  }
}
label.login-title {
  font-family: $font-family-header;
  font-size: 1.5em;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 8px;
  width: 100%;
  text-align: center;
}

.registration-button-wrapper {
  font-size: 0.7em;
  font-family: $font-family-text;
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 8px;
  margin-bottom: 60px;
  color: rgba(255,255,255, 0.5);

  button {
    text-align: center;
    padding: 4px;
    margin-left: 6px;
    max-width: 60%;
    width: 100%;
    white-space: normal;
  }
}
