/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

$font-family-header: 'Cinzel', serif;
$font-family-text: 'Montserrat', sans-serif;

html, body { height: 100%; }
body {
  margin: 0;
  font-family: $font-family-text;
  background: #242f4e;
}

.center-rel {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
